{% extends 'layout.html' %}

{% block content %} 
    <!--About Me-->
    <section style="background: rgba(91, 149, 241, 0.712);" class="text-white mt-5">
        <div class="about-me">
            <div class="about-me-sub">
                <h3>"If you know the way broadly, you will see it in everything."</h3>
                <p>Miyamoto Musashi</p>
            </div>
            <div>
                <p>Taking the path less traveled is the philosophy </p>
            </div>
        </div>
    </section>
{% endblock %}
