{% extends 'layout.html' %}

{% block content %} 
<div class="mt-5 row column">
    <div class="projectcard col-3" style="width: 25%;">
        <div class="m-5 project">
            <div>
                <img class="ms-1 me-1" style="height: 35px; width: 35px;" src="{{url_for('static', filename='flask-logo.png')}} "/>
                <img class="ms-1 me-1" style="height: 35px; width: 35px;" src="{{url_for('static', filename='html-logo.png')}} "/>
                <img class="ms-1 me-1" style="height: 35px; width: 35px;" src="{{url_for('static', filename='css-logo.png')}} "/>
                <img class="ms-1 me-1" style="height: 35px; width: 35px;" src="{{url_for('static', filename='python-logo.png')}} "/>
            </div>
            <h1>TEST</h1>
            <a href="https://github.com/kiro1970/car-class-exercise/blob/main/car-class-practice.py" class="text-center"><img class="ms-1 me-1" style="height: 30px; width: 30px;" src="{{url_for('static', filename='github-logo.png')}} "/></a>
        </div>
    </div>
    
    <div class="projectcard col-3" style="width: 25%;">
        <div class="m-5 project"><h1>TEST</h1></div>
    </div>
    
    <div class="projectcard col-3" style="width: 25%;">
        <div class="m-5 project"><h1>TEST</h1></div>
    </div>
    
    <div class="projectcard col-3" style="width: 25%;">
        <div class="m-5 project"><h3>API Weather App</h3></div>
        <h2>Technologies utilized:</h2>
        <img class="ms-1 me-1" style="height: 35px; width: 35px;" src="{{url_for('static', filename='html-logo.png')}} "/>
        <img class="ms-1 me-1" style="height: 35px; width: 35px;" src="{{url_for('static', filename='javascript-logo.png')}} "/>
        <a href="https://github.com/kiro1970/weatherapi/blob/main/weatherapi.html" class="text-center"><img class="ms-1 me-1" style="height: 30px; width: 30px;" src="{{url_for('static', filename='github-logo.png')}} "/></a>
    </div>
</div>
{% endblock %}
