{% extends 'layout.html' %}

{% block content %} 

    <!--Certifications and skills-->
    <section style="background: rgba(91, 149, 241, 0.712);" class="text-white mt-5" id="skill">

        <div class="text-center">
            <h1 class="">Kyle Mikouchi-Lopez</h1>
            <h2>Entryy level Fullstack/Python Programmer</h2>
            <h4>Software Development Certificate from Coding Temple</h4>
            <h4>Additional 1-on-1 Training/Mentoring by CTO</h4>
        </div>
        
        <div class="text-center mt-lg-4">
            <h2 class="text-bold">Technical Skills</h2>
            <h3>Full Stack Development, HTML/CSS, JavaScript, Python, and SQL.</h3>
            <h3>Also introduced to Flask, Node JS, PostgresSQL and React</h3>
        </div>

        <div class="text-center mt-lg-4">
            <h2>Full Skills Summary and Previous Experience available on my Resume</h2>
        </div>
        <div class="text-center">
            <button type="button" style="width: 50%;" class="dload align-item-center">
                <a href="{{url_for('static', filename='Kyle Mikouchi-Lopez Official Resume.docx.pdf')}}" download>Click here to download my full resume!</a>
            </button>
        </div>
    </section>
{% endblock %}
